#navbar{
    width: 100%;
    margin: 0px auto;
    background: black;
    
    color: white;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.navbar-container ul{
    display: flex;
    
    
}
.navbar-container ul li{
    margin: 0px 20px;
}
body{
    margin: 0px;
}
.search{
    margin: 10px 40px;
    display: flex;
}
.navbar-container ul li a{
    color: white;
}
.navbar-container ul li a:hover{
    color:yellow
}
.navbar-container ul li:hover{
    color: violet;
}
ul {
    list-style-type: none;
   }
  

